<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>javapic</title>
    <link rel="stylesheet" href="/static/JavaPic/css/style.css" />
</head>
<body>

<main>
    <header>javapic <span class="tagline">develop something beautiful</span></header>
    <div id="jumbotron" class="jumbotron">
        <div>a picture is worth a 1000 words</div>
    </div>
    <div class="bottom_jumbo"><a href="{% url 'JavaPic.views.join' %}">join now</a></div>

</main>
    <script type="text/javascript" src="/static/JavaPic/js/index.js"></script>
</body>
</html>
